<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, user-scalable=1">
	<meta name="language" content="en">
	<meta name="description" content="Furni.shop find all minimalistic and modern furnitur"> 
	<meta name="keywords" content="shop, furnitur, furniture store, modern furniture, minimalistic furniture,store for furniture">
	<meta rel="canonical" href="http://localhost:3000">
	<meta name="twitter:url" content="http://localhost:3000">
	<meta name="twitter:title" property="og:title" content="Furni.Shop">
	<meta name="twitter:image" content="http://localhost:3000/images/hero.png">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@Furni.Shp">
	<meta property="og:url" content="http://localhost:3000">
	<meta property="og:title" content="Furni.Shop">
	<meta property="og:type" content="website">
	<meta property="og:image" content="http://localhost:3000">
	
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon.png">
	<meta name="msapplication-TileColor" content="#262429">
	<meta name="theme-color" content="#262429">
	<link rel="manifest" media="screen" href="manifest.json">
	<link rel="stylesheet" media="all" href="/styles/main.css">
	<title>Furni.Shop</title>
</head>
<body>
    {% include "components/header.njk" %}
    {% include "components/footer.njk" %}
    <script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>