<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, user-scalable=1">
	<meta name="language" content="en">
	<meta name="description" content="Furni.shop find all minimalistic and modern furnitur"> 
	<meta name="keywords" content="shop, furnitur, furniture store, modern furniture, minimalistic furniture,store for furniture">
	<meta rel="canonical" href="http://localhost:3000">
	<meta name="twitter:url" content="http://localhost:3000">
	<meta name="twitter:title" property="og:title" content="Furni.Shop">
	<meta name="twitter:image" content="http://localhost:3000/images/hero.png">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@Furni.Shp">
	<meta property="og:url" content="http://localhost:3000">
	<meta property="og:title" content="Furni.Shop">
	<meta property="og:type" content="website">
	<meta property="og:image" content="http://localhost:3000">
	
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon.png">
	<meta name="msapplication-TileColor" content="#262429">
	<meta name="theme-color" content="#262429">
	<link rel="manifest" media="screen" href="manifest.json">
    <link rel="stylesheet" href="/styles/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/styles/glider.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script type="text/javascript" src="/scripts/glider.min.js"></script>
	<title>Furni.Shop</title>
</head>
<body class="overflow-x-hidden">
	{% include "components/preloader.njk" %}
    {% include "components/header.njk" %}
    <main>
    <section class="2xl:max-w-[1600px] 2xl:mx-auto relative lg:justify-around md:flex-row flex flex-col-reverse">
			<div id="patternId" class="lg:block lg:flex-2 animate slideLeft delay-300 hidden select-none">
				<svg class="mx-auto" id="10015.io" width="130" height="200" xmlns="http://www.w3.org/2000/svg"><defs><pattern id="pattern" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse" patternTransform="translate(10, 10) rotate(0) skewX(0)"><svg width="10" height="10" viewBox="0 0 100 100"><g fill="#002d43" opacity="1"><circle cx="50" cy="50" r="50"></circle></g></svg></pattern></defs><rect x="0" y="0" width="100%" height="100%" fill="#ffffff"></rect><rect x="0" y="0" width="100%" height="100%" fill="url(#pattern)"></rect></svg>
			</div>
			<div id="hero" class="lg:flex-4 animate slideRight delay-200 relative reveal">
				<img src="/assets/images/furniture.png" class="max-h-[600px]" alt="picture of room filled with minimalistic furniture generated by midjourney">
				<i class="xl:-right-[1%] xl:text-2xl md:text-xl md:p-10 md:-right-[5%] sm:bottom-[-8%] absolute bottom-0 right-0 p-6 cursor-pointer fa-sharp fa-solid fa-down-long text-gray-500 backdrop-blur-[10px]" style="background-color: rgba(220,220,220, .1);"></i>
			</div>
			<div id="sliderNav" class="lg:flex-initial md:block animate slideRight m-auto w-[10%] hidden">
				<div class="flex flex-col items-center justify-between mb-8 h-[80px]">
					<i class="cursor-pointer fa-sharp fa-solid fa-chevron-up text-gray-600 bg-gray-200 w-[30px] h-[30px] flex justify-center items-center text-xl"></i>
					<i class="cursor-pointer fa-sharp fa-solid fa-chevron-down text-gray-600 bg-gray-200 w-[30px] h-[30px] flex justify-center items-center text-xl"></i>
				</div>
				<div class="flex flex-col items-center">
					<span>01</span>
					<div class="w-[1px] h-[80px] bg-black"></div>
					<span>06</span>
				</div>
			</div>
			<div id="cta" class="xl:p-10 lg:p-8 lg:w-[30%] lg:left-[15%] lg:top-[20%] md:p-5 md:left-[3%] md:top-[30%] sm:w-[40%] sm:top-[20%] sm:left-[10%] animate slideLeft p-3 absolute backdrop-blur-[10px] top-[10%]" style="background-color: rgba(255,255,255, .5)">
				<h2 class="xl:text-5xl lg:text-4xl font-serif text-3xl text-gray-700 font-bold">We Help You Make Modern Interior</h2>
				<p class="text-gray-700">We will help you to make an elegant and luxurious interior designed by professional interior designer</p>
			</div>
		</section>
        <section class="2xl:max-w-[1600px] 2xl:mx-auto mt-10 py-10">
            {% include "components/brandSlider.njk" %}
			<div class="2xl:w-[100%] lg:mx-auto lg:flex lg:justify-between lg:text-left lg:w-[90%] p-3 mt-10 text-center">
				<div id="deal-left" class="lg:max-w-[400px] animate slideLeft mb-5">
					<p class="md:text-5xl font-serif text-gray-700 font-bold text-3xl mb-5">Hot deals for you</p>
					<p>Online shipping for retails sales direct to consumers</p>
				</div>
				<div id="deal-right-1" class="lg:w-[200px] lg:flex lg:flex-col lg:justify-around animate slideRight delay-100 mb-5">
					<i class="fa-solid fa-check-double"></i>
					<p class="font-bold">1.5% cashback</p>
					<p>online shipping for retails sales direct to consumers</p>
				</div>
				<div id="deal-right-2" class="lg:w-[200px] lg:flex lg:flex-col lg:justify-around animate slideRight delay-200 mb-5">
					<i class="fa-solid fa-check-double"></i>
					<p class="font-bold">30-day terms</p>
					<p>online shipping for retails sales direct to consumers</p>
				</div>
				<div id="deal-right-3" class="lg:w-[200px] lg:flex lg:flex-col lg:justify-around animate slideRight delay-300 mb-5">
					<i class="fa-solid fa-check-double"></i>
					<p class="font-bold">Save Money</p>
					<p>online shipping for retails sales direct to consumers</p>
				</div>
			</div>
		</section>
        <section class="2xl:max-w-[1600px] 2xl:mx-auto">
			<div class="md:flex-row flex flex-col justify-between items-center w-[90%] mx-auto h-[250px] mb-8">
				<div id="about-left" class="md:text-left text-center animate slideLeft text-gray-700">
					<h2 class="text-5xl font-bold text-gray-700 font-serif mb-4">About Us</h2>
					<div class="px-5">
						<p>At Besnik Consultansy. we take pride in our values</p>
						<p>--service, integrity, and excellence.</p>
					</div>
				</div>
				<button id="about-right" class="md:mr-0 animate slideRight py-[10px] px-[30px] w-[90%] mx-auto bg-gray-200 max-w-[250px]">Learn more</button>
			</div>
			<div class="md:flex-row flex flex-col text-gray-700">
				<div class="lg:text-left lg:flex-row md:w-[50%] flex flex-col justify-between h-[700px] text-center">
					<div id="info-1" class="md:items-start animate slideLeft max-w-[300px] flex flex-col justify-between items-center h-[180px] w-[90%] mx-auto">
						<h3 class="text-gray-700 text-5xl font-bold">1.</h3>
						<p class="text-gray-700 text-xl font-bold">Who We Are</p>
						<p>You get 2 weeks free trail to kick the Smarty tries. We want you to.</p>
					</div>
					<div id="info-2" class="md:items-start animate slideLeft delay-100 max-w-[300px] flex flex-col justify-between items-center h-[180px] w-[90%] mx-auto">
						<h3 class="text-gray-700 text-5xl font-bold">2.</h3>
						<p class="text-gray-700 text-xl font-bold">What Do We Do</p>
						<p>You get 2 weeks free trail to kick the Smarty tries. We want you to.</p>
					</div>
					<div id="info-3" class="md:items-start animate slideLeft delay-200 max-w-[300px] flex flex-col justify-between items-center h-[180px] w-[90%] mx-auto">
						<h3 class="text-gray-700 text-5xl font-bold">3.</h3>
						<p class="text-gray-700 text-xl font-bold">How Do We Help</p>
						<p>You get 2 weeks free trail to kick the Smarty tries. We want you to.</p>
					</div>
					<div id="info-4" class="md:items-start animate slideLeft delay-400 max-w-[300px] flex flex-col justify-between items-center h-[180px] w-[90%] mx-auto">
						<h3 class="text-gray-700 text-5xl font-bold">4.</h3>
						<p class="text-gray-700 text-xl font-bold">Create Success Story</p>
						<p>You get 2 weeks free trail to kick the Smarty tries. We want you to.</p>
					</div>
				</div>
				<div class="md:flex-row mx-auto flex flex-col">
					<div class="lg:mr-3 lg:mb-unset mb-5">
						<img id="mosiac-left-t" class="animate slideLeft delay-100 w-[300px] h-[330px] object-cover mt-5 mb-3 mx-auto" src="/assets/images/1.png" alt="photo generated by midjourney">
						<img id="mosiac-left-b" class="animate slideLeft delay-200 w-[300px] mx-auto" src="/assets/images/2.png" alt="photo generated by midjourney">
					</div>
					<div>
						<img id="mosiac-right-t" class="animate slideRight delay-100 w-[300px] mx-auto" src="/assets/images/3.png" alt="photo generated by midjourney">
						<img id="mosiac-right-b" class="animate slideRight delay-200 w-[300px] mt-4 h-[330px] object-cover mx-auto" src="/assets/images/4.png" alt="photo generated by midjourney">
					</div>
				</div>
			</div>
		</section>
        {% include "components/products.njk" %}
        {% include "components/testimonial.njk" %}
    </main>
    {% include "components/footer.njk" %}
    <script type="text/javascript" src="/scripts/main.js"></script>	
	<script type="text/javascript" src="/scripts/glider.js"></script>	
	<script type="text/javascript" src="/scripts/animate.js"></script>	
</body>
</html>