<div id="brandSlider" class="animate slideDown bg-gray-400 p-5">
    <h2 class="md:text-2xl sm:text-md text-gray-700 font-bold text-sm mb-5 text-center uppercase">trusted by over 1k+ companies</h2>
    <div class="glider-contain">
        <div class="glider" style="width:150px;height:50px;">
            <img src="/assets/images/PngItem_260688.png" alt="">
            <img src="/assets/images/entrepeur.png" alt="">
            <img src="/assets/images/fortune.png" alt="">
            <img src="/assets/images/mashable.png" alt="">
            <img src="/assets/images/inc.png" alt="">
        </div>
        <div role="tablist" class="dots"></div>
    </div>
</div>