<footer class="bg-gray-800">
    <div class="lg:w-[1600px] lg:mx-auto">
        <div class="lg:flex-row flex flex-col justify-between items-center py-12 px-10">
            <p id="footer-t-left" class="sm:text-6xl animate slideLeft mb-5 text-3xl text-white font-serif w-[60%]">Start your business today for $0+ state fees.</p>
            <div>
                <button id="footer-t-right-1" class="animate slideRigth mb-3 text-gray-700 bg-white py-[12px] px-[30px] rounded rounded-full text-lg">Get Started</button>
                <button id="footer-t-right-2" class="animate slideRight delay-200 bg-gray-500 text-white py-[12px] px-[30px] rounded rounded-full text-lg">Contact Sales</button>
            </div>
        </div>
        <hr class="bg-white">
        <div class="lg:grid-cols-5 md:grid-cols-4 sm:grid-cols-3 sm:text-left grid grid-cols-1 py-12 w-[90%] mx-auto text-center">
            <div id="footer-1" class="sm:items-start animate slideLeft delay-100 flex flex-col justify-start items-center mb-5">
                <p class="text-white font-serif text-3xl mb-3">furni.shop</p>
                <p class="text-white mb-3">Optix seamlessly connects your members with the community resources.</p>
                <ul class="flex justify-between items-center text-white w-[150px]">
                    <li>
                        <a href="#">
                            <i class="text-lg fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="text-lg fa-brands fa-twitter"></i>	
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="text-lg fa-solid fa-link"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="text-lg fa-brands fa-pinterest"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="footer-2" class="animate slideLeft delay-200 flex flex-col justify-between text-white mb-5 h-[200px]">
                <a href="#" class="font-bold">Entity types</a>
                <a href="#">Knowledge base</a>
                <a href="#">Security</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Partners</a>
                <a href="#">About us</a>
                <a href="#">FAQS</a>
            </div>
            <div id="footer-3" class="animate slideLeft delay-300 flex flex-col text-white mb-5 justify-between h-[200px]">
                <a href="#" class="font-bold">Services</a>
                <a href="#">Contact us</a>
                <a href="#">Press</a>
                <a href="#">Payroot</a>
                <a href="#">Library</a>
                <a href="#">Blog</a>
                <a href="#">Help center</a>
            </div>
            <div id="footer-4" class="animate slideRight delay-100 flex flex-col text-white mb-5 justify-between h-[200px]">
                <a href="#" class="font-bold">Resouces</a>
                <a href="#">Pricing</a>
                <a href="#">FAQS</a>
                <a href="#">Contact Support</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms</a>
            </div>
            <div id="footer-5" class="animate slideRight delay-200 flex flex-col text-white mb-5 justify-between h-[200px]">
                <a href="#" class="font-bold">Support</a>
                <a href="#">Contact</a>
                <a href="#">Affiliates</a>
                <a href="#">Sitemap</a>
                <a href="#">Cancelation Policy</a>
                <a href="#">Pricing</a>
            </div>
        </div>
    </div>
</footer>