<section class="2xl:max-w-[1600px] 2xl:mx-auto">
    <div class="flex justify-between items-center mt-4 w-[70%] mx-auto mb-3">
        <h3 id="product-left" class="animate slideLeft text-gray-700 text-5xl font-serif font-bold">Products</h3>
        <div id="product-right" class="animate slideRight text-gray-499">
            <a href="#">See All</a>
            <i class="fa-sharp fa-solid fa-right-long"></i>
        </div>
    </div>	
    <div class="lg:grid-cols-3 md:grid-cols-2 md:grid-cols-2 grid-cols-1 grid mt-10">
        <div id="product-1" class="animate fadeOut delay-100 relative w-[301px] mx-auto">
            <div class="relative w-[251px] h-[200px] bg-gray-200 rounded rounded-md">
                <span class="absolute -right1 -top-4 bg-red-400 rounded rounded-full h-[30px] w-[30px] flex justify-center items-center cursor-pointer">
                    <i class="fa-solid fa-cart-plus text-white"></i>
                </span>
                <div class="relative top-[11%] w-[90%] mx-auto">
                    <p class="text-gray-699 text-2xl">Modern Chair</p>
                    <p class="text-gray-699">$35.00</p>
                </div>
            </div>
            <div class="-top-[23%] z-4 relative">
                <img class="w-[201px]" src="/assets/images/chair.png" alt="">
            </div>
        </div>
        <div id="product-2" class="animate fadeOut delay-200 relative w-[301px] mx-auto">
            <div class="relative w-[251px] h-[200px] bg-gray-200 rounded rounded-md">
                <span class="absolute -right1 -top-4 bg-red-400 rounded rounded-full h-[30px] w-[30px] flex justify-center items-center cursor-pointer">
                    <i class="fa-solid fa-cart-plus text-white"></i>
                </span>
                <div class="relative top-[11%] w-[90%] mx-auto">
                    <p class="text-gray-699 text-2xl">Minimalistic Chair</p>
                    <p class="text-gray-699">$65.00</p>
                </div>
            </div>
            <div class="-top-[23%] z-4 relative">
                <img class="w-[201px]" src="/assets/images/chair-1.png" alt="">
            </div>
        </div>
        <div id="product-3" class="animate fadeOut delay-300 relative w-[301px] mx-auto">
            <div class="relative w-[251px] h-[200px] bg-gray-200 rounded rounded-md">
                <span class="absolute -right1 -top-4 bg-red-400 rounded rounded-full h-[30px] w-[30px] flex justify-center items-center cursor-pointer">
                    <i class="fa-solid fa-cart-plus text-white"></i>
                </span>
                <div class="relative top-[11%] w-[90%] mx-auto">
                    <p class="text-gray-699 text-2xl">Gray Couch</p>
                    <p class="text-gray-699">$195.00</p>
                </div>
            </div>
            <div class="-top-[19%] z-4 relative">
                <img class="w-[301px] mx-auto" src="/assets/images/couch.png" alt="">
            </div>
        </div>
        <div id="product-4" class="animate fadeOut delay-400 relative w-[301px] mx-auto">
            <div class="relative w-[251px] h-[200px] bg-gray-200 rounded rounded-md">
                <span class="absolute -right1 -top-4 bg-red-400 rounded rounded-full h-[30px] w-[30px] flex justify-center items-center cursor-pointer">
                    <i class="fa-solid fa-cart-plus text-white"></i>
                </span>
                <div class="relative top-[11%] w-[90%] mx-auto">
                    <p class="text-gray-699 text-2xl">Chest Drawer</p>
                    <p class="text-gray-699">$38.00</p>
                </div>
            </div>
            <div class="-top-[19%] z-4 relative">
                <img class="w-[201px]" src="/assets/images/chest drawer.png" alt="">
            </div>
        </div>
        <div id="product-5" class="animate fadeOut delay-500 relative w-[301px] mx-auto">
            <div class="relative w-[251px] h-[200px] bg-gray-200 rounded rounded-md">
                <span class="absolute -right1 -top-4 bg-red-400 rounded rounded-full h-[30px] w-[30px] flex justify-center items-center cursor-pointer">
                    <i class="fa-solid fa-cart-plus text-white"></i>
                </span>
                <div class="relative top-[11%] w-[90%] mx-auto">
                    <p class="text-gray-699 text-2xl">All Wooden Chest Drawer</p>
                    <p class="text-gray-699">$37.00</p>
                </div>
            </div>
            <div class="-top-[19%] z-4 relative">
                <img class="w-[201px]" src="/assets/images/drawer-1.png" alt="">
            </div>
        </div>
        <div id="product-6" class="animate fadeOut delay-600 relative w-[301px] mx-auto">
            <div class="relative w-[251px] h-[200px] bg-gray-200 rounded rounded-md">
                <span class="absolute -right1 -top-4 bg-red-400 rounded rounded-full h-[30px] w-[30px] flex justify-center items-center cursor-pointer">
                    <i class="fa-solid fa-cart-plus text-white"></i>
                </span>
                <div class="relative top-[11%] w-[90%] mx-auto">
                    <p class="text-gray-699 text-2xl">Desk Lamp</p>
                    <p class="text-gray-699">$53.00</p>
                </div>
            </div>
            <div class="-top-[19%] z-4 relative">
                <img class="w-[151px]" src="/assets/images/lamp.png" alt="">
            </div>
        </div>
    </div>
</section>